In [ ]:
import os
from dotenv import load_dotenv

# Load environment variables from my_var.env file
load_dotenv('my_var.env')

# Get the API key from environment variables
openai_api_key = os.getenv('OPENAI_API_KEY')
if openai_api_key:
    os.environ['OPENAI_API_KEY'] = openai_api_key
    print("‚úì OpenAI API key loaded successfully")
else:
    print("‚úó Warning: OPENAI_API_KEY not found in my_var.env")

‚úì OpenAI API key loaded successfully

In [ ]:
# import os
# import configparser

# # Read configuration from .ini file
# config = configparser.ConfigParser()
# config.read('config.ini')

# # Get the API key from the .ini file
# try:
#     openai_api_key = config['API']['OPENAI_API_KEY']
#     os.environ['OPENAI_API_KEY'] = openai_api_key
#     print("‚úì OpenAI API key loaded successfully from config.ini")
# except KeyError:
#     print("‚úó Warning: OPENAI_API_KEY not found in config.ini")

‚úì OpenAI API key loaded successfully from config.ini

In [3]:
import sys
print(sys.version)
import langchain
print(langchain.__version__)
import pyodbc
print(pyodbc.version)

3.12.12 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 20:05:38) [MSC v.1929 64 bit (AMD64)]
1.0.5
5.3.0

In [ ]:
from langchain_core.prompts import ChatPromptTemplate

template = """Based on the table schema below, write a SQL query that would answer the user's question.

IMPORTANT: You are writing SQL for Microsoft SQL Server. Use SQL Server syntax:
- Use TOP instead of LIMIT (e.g., SELECT TOP 5 * FROM table)
- Use GETDATE() instead of NOW()
- Use LEN() instead of LENGTH()
- Use proper SQL Server syntax for all queries

{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)

In [ ]:
from langchain_community.utilities import SQLDatabase
from urllib.parse import quote_plus

# Read database configuration from .ini file
# if you are using SQLite
sqlite_uri = 'sqlite:///./Chinook.db' 

# if you are using MySQL
mysql_uri = 'mysql+mysqlconnector://root:admin@localhost:3306/test_db'

# for mssql server with Windows Authentication
server = 'DESKTOP-HDGC41U\\SQLEXPRESS'
database = 'Chinook'  # Change this to your database name

# Connection string with Windows Authentication (Trusted_Connection)
connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes'
mssql_uri = f'mssql+pyodbc:///?odbc_connect={quote_plus(connection_string)}'

print(f"Connecting to database: {database} on server: {server}")
try:
    db = SQLDatabase.from_uri(mssql_uri)
    print("‚úì Connected successfully!")
    print(f"Available tables: {db.get_usable_table_names()}")
except Exception as e:
    print(f"‚úó Connection failed: {e}")

Connecting to database: Chinook on server: DESKTOP-HDGC41U\SQLEXPRESS
‚úì Connected successfully!

In [ ]:
# from langchain_community.utilities import SQLDatabase
# from urllib.parse import quote_plus

# # Read database configuration from .ini file
# server = config['DATABASE']['SERVER']
# database = config['DATABASE']['DATABASE']
# driver = config['DATABASE']['DRIVER']

# # if you are using SQLite
# sqlite_uri = 'sqlite:///./Chinook.db' 

# # if you are using MySQL
# mysql_uri = 'mysql+mysqlconnector://root:admin@localhost:3306/test_db'

# # for mssql server with Windows Authentication (loaded from config.ini)
# connection_string = f'DRIVER={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes'
# mssql_uri = f'mssql+pyodbc:///?odbc_connect={quote_plus(connection_string)}'

# print(f"Connecting to database: {database} on server: {server}")
# try:
#     db = SQLDatabase.from_uri(mssql_uri)
#     print("‚úì Connected successfully!")
#     print(f"Available tables: {db.get_usable_table_names()}")
# except Exception as e:
#     print(f"‚úó Connection failed: {e}")

Connecting to database: Chinook on server: DESKTOP-HDGC41U\SQLEXPRESS
‚úì Connected successfully!
Available tables: ['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

In [6]:
def get_schema(_):
    return db.get_table_info()

In [7]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI

llm = ChatOpenAI()

sql_chain = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | llm.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)

In [15]:
# Helper function to display formatted results
def display_query_result(question):
    """
    Execute a natural language question and display formatted results
    """
    print("=" * 80)
    print("üìä QUERY ANALYSIS")
    print("=" * 80)
    
    # Get the SQL query
    sql_query = sql_chain.invoke({"question": question})
    
    # Get the full natural language answer
    answer = full_chain.invoke({"question": question})
    
    # Run the query to get raw results
    raw_result = db.run(sql_query)
    
    # Display formatted output
    print(f"\n‚ùì Question:")
    print(f"   {question}")
    
    print(f"\nüîç Generated SQL Query:")
    print(f"   {sql_query.strip()}")
    
    print(f"\nüìã Raw Database Result:")
    print(f"   {raw_result}")
    
    print(f"\nüí¨ Natural Language Answer:")
    print(f"   {answer}")
    
    print("\n" + "=" * 80)
    
    return answer

In [ ]:
user_question = 'how many albums are there in the database?'
display_query_result(user_question)

# 'SELECT COUNT(*) AS TotalAlbums\nFROM Album;'

================================================================================
üìä QUERY ANALYSIS
================================================================================

‚ùì Question:
   how many albums are there in the database?

üîç Generated SQL Query:
   SELECT COUNT(*) AS AlbumCount FROM Album;

üìã Raw Database Result:
   [(347,)]

üí¨ Natural Language Answer:
   There are 3 albums in the database.

================================================================================

'There are 3 albums in the database.'

In [9]:
# Define the response prompt template
template_response = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}
Answer:"""

prompt_response = ChatPromptTemplate.from_template(template_response)

In [10]:
def run_query(query):
    return db.run(query)

In [11]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign(
        schema=get_schema,
        response=lambda vars: run_query(vars["query"]),
    )
    | prompt_response
    | llm
    | StrOutputParser()
)

In [17]:
user_question = 'how many albums are there in the database?'
display_query_result(user_question)

# 'There are 347 albums in the database.'

================================================================================
üìä QUERY ANALYSIS
================================================================================

‚ùì Question:
   how many albums are there in the database?

üîç Generated SQL Query:
   SELECT COUNT(AlbumId) AS TotalAlbums FROM Album;

üìã Raw Database Result:
   [(347,)]

üí¨ Natural Language Answer:
   There are 347 albums in the database.

================================================================================

'There are 347 albums in the database.'

In [19]:
user_question = 'what is the customer first name and last name that has invoice total greater than 20 and the total value?'
display_query_result(user_question)

================================================================================
üìä QUERY ANALYSIS
================================================================================

‚ùì Question:
   what is the customer first name and last name that has invoice total greater than 20 and the total value?

üîç Generated SQL Query:
   SELECT c.FirstName, c.LastName
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
WHERE i.Total > 20;

üìã Raw Database Result:
   [('Ladislav', 'Kov√°cs'), ('Hugh', "O'Reilly"), ('Richard', 'Cunningham'), ('Helena', 'Hol√Ω')]

üí¨ Natural Language Answer:
   The customers with the first names Ladislav, Hugh, Richard, and Helena, and last names Kov√°cs, O'Reilly, Cunningham, and Hol√Ω respectively, have an invoice total greater than 20. The total amounts are 21.86, 21.86, 23.86, and 25.86.

================================================================================

"The customers with the first names Ladislav, Hugh, Richard, and Helena, and last names Kov√°cs, O'Reilly, Cunningham, and Hol√Ω respectively, have an invoice total greater than 20. The total amounts are 21.86, 21.86, 23.86, and 25.86."